.outer-container {
    margin: auto;
    text-align: center;
}

table {
    display: block;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;

    border-collapse: collapse;
    /* margin: auto; */
    margin-left: calc((100vw - 500px) / 2); 
}

.tr {
    /* padding: 0 calc(100vw - 250px); */
    margin: auto;
}

th, td {
    border: 1px solid black;
    padding: 5px 0;
}
th {
    background-color: rgba(0,0,200, .2);
}

.th1 {
    width: 50px;
}

.th2 {
    width: 250px;
}


tr.RB {
    background-color: rgba(250, 0, 0, .3);
}
tr.WR {
    background-color: rgba(0, 0, 200, .3);
}
tr.TE {
    background-color: rgba(0, 200, 0, .3);
}
tr.QB {
    background-color: rgba(200, 50, 200, .3);
}
tr.DST {
    background-color: rgba(150, 50, 50, .3);
}


tr.disabled {
    background-color: grey;
    color: white;
}