body
{
    background-image: url(images/blue_square_pattern.jpg);
    background-size: cover;
    color: black;
    overflow: hidden;
}

/*Navigation Bar*/
.navbar {
    border-radius: 0;
    margin: 0;
}

.navbar-icon {
    margin-bottom: 10px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 10px;
    max-height: 30px;
}



.non-menu-container {
    background-color: rgba(200, 200, 255, .2);
    height: calc(100vh - 52px);
    margin: 0;
    padding: 0;
    overflow-y: auto;
    width: 100%;
}

.flex1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

.subtitle {
    /* color: white; */
    font-size: 4vh;
    font-weight: bold;
    /* margin: auto; */
    margin-top: 1vh;
    text-align: center;
}

.profile-pic {
    /* height: 30vmin; */
    /* width: 30vmin; */
    margin: auto;
    margin-bottom: 3vh;
    margin-top: 3vh;
    max-height: 45vh;
    /* max-height: 10px; */
}

.temp-about {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 2%;
    font-size: 130%;
    margin: auto;
    max-width: 1000px;
    padding: 2vw;
}

.embedded-link {
    color: rgb(0, 0, 255);
    font-weight: bold;
    text-decoration: underline;
}
