body
{
    background-image: url(images/wood_background.jpg);
    background-size: cover;
    overflow: hidden;
}

/*Navigation Bar*/
.navbar, navbar-inverse, navbar-brand {
    border-radius: 0;
    margin: 0;
    /*height: 6vh;
    margin-bottom: 0;
    padding: 0;

    line-height: 0;
    max-height: 6vh;
    min-height: 0vh;*/
}




/*Grid*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 95vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    width: 100%;
}

.project-box {
    background: rgba(200, 200, 200, .7);
    border: .4vh solid black;
    border-radius: .5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 45vh;
    margin: .5%;
    overflow: hidden;
    padding: .6%;
    transition: .5s;
    width: 32%;
}
    .project-box:hover {
        background: rgba(240, 240, 240, .9);
        margin: 0%;
        height: 47vh;
        width: 33%;
    }

.project-box > h2 {
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 400%;
    font-weight: bold;
    /*font-size-adjust: .1;*/
    margin: 0;
    /*background-color: red;*/
    text-align: center;
}

.blank-row {
    grid-column: 1 / 4;
    /*background-color: blue;*/
}

.project-img {
    grid-column: 1/ 2;
    grid-row: 2 / 5;
    max-width: 100%;
    max-height: 100%;
}

.summary {
    /*background-color: red;*/
    grid-column: 2/4;
    grid-row: 2/6;
    font-size: 150%;
}

.keywords {
    grid-column: 1/4;
    grid-row: 6/7;
    font-size: 150%;
    font-weight: bold;
    font-style: italic;
}

.project-link {
    grid-column: 1/4;
    grid-row: 1/7;
    height: 100%;
    width: 100%;
    z-index: 3;
}

    


