body {
    background-image: url(./wood_background.jpg);
    background-size: cover;
    font: 14px 'Helvetica', Futura, sans-serif;
}

/*Game Board*/
.game {
    display: flex;
    flex-direction: row;
}

.Title {
    font-size: 9vmin;
    height: 9vmin;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 80vmin;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.square {
    background: rgba(103, 246, 122, .8);
    border: .2vmin solid black;
    float: left;
    height: 10vmin;
    outline: none;
    padding: 0;
    text-align: center;
    width: 10vmin;
}

.square-highlighted {
    background-color: rgba(255, 50, 50, .8);
    border: .2vmin solid black;
    float: left;
    height: 10vmin;
    outline: none;
    padding: 0;
    text-align: center;
    width: 10vmin;
}

.black-square:before {
    background-color: black;
    border-radius: 50%;
    content: '';
    display: flex;
    height: 8.6vmin;
    margin: auto;
    position: relative;
    width: 8.6vmin;
}

.white-square:before {
    background-color: white;
    border: .3vmin solid black;
    border-radius: 50%;
    content: '';
    display: flex;
    height: 8vmin;
    margin: auto;
    position: relative;
    width: 8vmin;
}

/*Game Info display on right side*/
.game-info {
    background: rgba(200, 200, 200, .8);
    border: .2vmin solid black;
    height: 79.6vmin;
    margin-left: 1vmin;
    width: 19.6vmin;
}

.score-title {
    font-size: 5vmin;
    font-weight: bold;
    line-height: 0;
    margin-top: 3vmin;
    margin-bottom: 4vmin;
    text-align: center;
}

.score-display {
    border: .2vmin solid black;
    width: 19.6vmin;
    height: 20vmin;
    margin-left: -.2vmin;
    margin-bottom: -.3vmin;
}

.score-display-highlighted {
    background-color: rgba(255, 50, 50, .8);
    border: .2vmin solid black;
    height: 20vmin;
    margin-bottom: -.3vmin;
    margin-left: -.2vmin;
    width: 19.6vmin;
}

.black-piece-display {
    background-color: black;
    border-radius: 50%;
    content: '';
    height: 8vmin;
    margin: auto;
    position: relative;
    top: 2vmin;
    width: 8vmin;
}

.black-counter {
    font-size: 6vmin;
    position: relative;
    text-align: center;
    top: 3vmin;
}

.white-piece-display {
    background-color: white;
    border: .3vmin solid black;
    border-radius: 50%;
    content: '';
    height: 8vmin;
    margin: auto;
    position: relative;
    top: 2vmin;
    width: 8vmin;
}

.white-counter {
    font-size: 6vmin;
    position: relative;
    text-align: center;
    top: 3vmin;
}

.display-divider {
    background-color: black;
    height: 4vmin;
    width: 19.6vmin;
}

.remaining-title {
    font-size: 3.5vmin;
    font-weight: bold;
    height: 9vmin;
    margin-bottom: 0;
    margin-top: 1vmin;
    text-align: center;
    width: 19.6vmin;
}

.remaining-display {
    border: .2vmin solid black;
    height: 18.2vmin;
    margin-left: -.2vmin;
    width: 19.6vmin;
}

.remaining-black-piece {
    background-color: black;
    border-radius: 50%;
    content: '';
    height: 8.6vmin;
    left: 4vmin;
    position: relative;
    top: 2vmin;
    width: 8.6vmin;
    z-index: 1;
}

.remaining-white-piece {
    background-color: white;
    border: .3vmin solid black;
    border-radius: 50%;
    content: '';
    height: 8vmin;
    left: 7vmin;
    position: relative;
    top: -6.6vmin;
    width: 8vmin;
}

.remaining-counter {
    bottom: 6vmin;
    font-size: 6vmin;
    position: relative;
    text-align: center;
}





