body
{
    background-image: url(images/blue_square_pattern.jpg);
    background-size: cover;
    color: black;
    overflow: hidden;
}

/*Navigation Bar*/
.navbar {
    border-radius: 0;
    margin: 0;
}

.non-menu-container {
    background-color: rgba(200, 200, 255, .2);
    height: 95vh;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    width: 100%;
}

.flex-box {
    /* background: rgba(255, 255, 255, .4); */
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: auto;
    margin-top: auto;
    /* padding-bottom: 5vh;
    padding-top: 5vh; */
    text-align: center;
    width: 100%;
}

.intro-box {
    /* background: rgba(255, 255, 255, .4); */
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    margin-bottom: auto;
    margin-top: auto;
    padding-left: 10%;
    padding-right: 10%;
    /* padding-bottom: 5vh;
    padding-top: 5vh; */
    text-align: center;
    width: 100%;
}

.intro-greeting {
    font-size: 10vmin;
    margin-bottom: 10%;
    text-align: left;
    width: 100%;
}

.intro-role {
    font-size: 6vmin;
    margin-left: auto;
    /* text-align: right; */
    /* width: 80%; */
}